/* :root {
    --selected-color: rgb(0, 140, 255); Default color 
  }
  
  For editing mode 
  .cm-s-obsidian {
    color: var(--selected-color) !important;
  }
  
   For read/preview mode 
  .markdown-preview-view {
    color: var(--selected-color) !important;
  }
  
   Style for the color preview box 
  .color-preview-box {
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ddd; Optional: border for the color preview box 
  }
  */
  .cm-s-obsidian,
  .markdown-preview-view {
    color: var(--selected-color);
  }
  
  